<div class="container-fluid">

<div class="">
  <table class="table table-hover">
    <thead>
      <tr class="active">
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Company</th>
        <th>Action</th>
      </tr>
    </thead>

     <tbody>
      <tr *ngFor="let ul of this.api.UserList" class="info">
        <td class="">{{ ul.name }}</td>
         <td class="">{{ ul.email }}</td>
        <td class="">{{ ul.address.street }}</td>
        <td class="">{{ ul.company.name }},</td>
        <button class="btn btn-danger" (click)="removeuser(ul.id)" >Remove</button>
      </tr>
     </tbody>
  </table>
</div>

</div>






